<footer class="fixed-bottom">
    <div class="container justify-content-center align-items-center">
        <hr />
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </div>
</footer>
